.slider{
    display: flex;
    flex-direction: column;
    align-content: center;
   
}


.vectorNext{
    height: 30px;
    width: 30px;
    position: absolute;
    rotate: 90deg;
    margin-left: 0px;
    align-self: self-end;
    cursor: pointer;
    margin-top: 90px;
}
.vectorPrev{
    height: 30px;
    width: 30px;
    position: absolute;
    rotate: -90deg;
    margin-left: 0px;
    align-self: flex-start;
    cursor: pointer;
}