.slider{
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
   
}

.slider img{
    border-radius: 25px;
}


.vectorNext, .vectorPrev{
    height: 30px;
    width: 30px;
    position: absolute;
    cursor: pointer;
    top: 50%; 
   
}
.vectorNext{
  
    right: 0;
    rotate: 90deg;
}
.vectorPrev{
    position: absolute;
    rotate: -90deg;
    margin-left: 0px;
   
}

.image-number{
    font-size: 15px;
    color: white;
    position: absolute;
    left: 50%;
    bottom: 20px;

}
